{% if params.stripe_public_key is not empty %}
    <input type="hidden" name="stripe_public_key" value="{{ params.stripe_public_key }}" />
{% endif %}
{% set class = params.class ?? '' %}
<div class="{{ class }}">
    <div class="card_error errors" id="card_errors" role="alert" style="color: #E25950;"></div>
    <div id="card-element" class="field">
    </div>
</div>
{% do view.registerAssetBundle("ssplugin\\ssmembership\\assetbundles\\ssmembership\\SsMembershipAsset") %}
